@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@800&display=swap');

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #222; /* Consistent background color for the entire page */
    font-family: 'Raleway', sans-serif;
    overflow: hidden; /* Prevents scrollbars from appearing */
}

#intro {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    pointer-events: all;
    text-align: center;
}

canvas {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1; /* Ensure it is behind the content but above the background */
}


#profile {
    background-color: rgba(244, 244, 244, 0.8);  /* Semi-transparent light gray background */
    padding: 20px;
    border-radius: 15px;  /* Rounded corners */
    margin: 20px 0;
}

#profile h2 {
    color: #fff;
    text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);  /* Text shadow for depth */
}

#profile ul {
    list-style-type: none;
    padding: 0;
}

#profile li {
    margin: 10px 0;
}

#profile a {
    text-decoration: none;
    color: #007BFF;
    border: 1px solid #007BFF;
    padding: 5px 10px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

#profile a:hover {
    background-color: #007BFF;
    color: #ffffff;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

ul li {
    display: inline-block;
    margin-right: 10px;
}

ul li img {
    width: 45px;
    height: 45px;
    border-radius: 50%;  /* Round icons */
}

h2 {
    font-size: 50px;
    color: #ffffff;
    background: linear-gradient(45deg, #f06, #9f6);
    -webkit-background-clip: text;
    color: transparent;
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2);
    letter-spacing: 2px;
    transition: color 0.3s ease;
}

h2:hover {
    color: #ffffff;
}
